.imglogo2{
    width: 60%;
    height: auto;
    margin-left: -5%;
    margin-top: 5%;
    object-fit: fill;

}

.product-list a{
    color: white;
    text-decoration: none;
}

.social-icons {
    margin-top: 13%;
}
.social-icons a{
    padding: 1%;
    color: #109E28;
}
.social-icons a:hover{
    opacity: 0.5;
}
footer {
    position : absolute;
    bottom : 0;
    width: 100%;
    display: grid;
}

.input-group-append button:hover{
    opacity: 0.5;
}
.input-group-append button{
    margin-left: 4%;
}

.rightdiv{
    text-align: right;
}

.abt-us a{
    margin-top: 10%;
}