.imglogo2{
    width: 60%;
    height: auto;
    margin-left: -5%;
    margin-top: 5%;
    object-fit: fill;
}

.product-list a{
    color: white;
    text-decoration: none;
}

.product-list a:focus, a:hover {
    color: #C6F932;
}

.ft-description {
    margin-top: 5%;
    margin-bottom: 5%;
}

footer {
    position : relative;
    bottom : 0;
    width: 100%;
    display: grid;
}

.input-group-append button{
    margin-left: 4%;
}

.rightdiv{
    text-align: right;
}

.abt-us a{
    margin-top: 10%;
    color: white;
}

.abt-us a:focus, a:hover {
    color: #C6F932;
}

.input-group input[type="text"]:focus{
    border-color: #C6F932;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

input[type="button"]{
    border-color: #C6F932;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
