

.modal-backdrop.show {
    z-index: 0 !important;
}

.rlcontainer{
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 0px 20px 0px 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    perspective: 2700px;
    border-radius: 50px;
}
.rlcontainer .cover{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 0.6s ease;
    transform-origin: left;
    transform-style: preserve-3d;
    border-radius: 50px;

}
.rlcontainer #flip:checked ~ .cover{
    transform: rotateY(-180deg);
}
.rlcontainer .cover .front,
.rlcontainer .cover .back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
.cover .back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.rlcontainer .cover::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    background:linear-gradient(
            to bottom,
            rgba(16, 158, 40, 0.48) 40%,
            rgba(255, 255, 255, 0.26));
    opacity: 0.5;
    z-index: 12;
}
.rlcontainer .cover::after{
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-top-left-radius: 50px;
}
.rlcontainer .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
    border-radius: 50px;

}
.rlcontainer .cover .text{
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cover .text .text-1,
.cover .text .text-2{

    font-size: 26px;
    font-weight: 600;
    color: #000000;
    text-align: center;

}

.rlcontainer .forms{
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 50px;
}
.rlcontainer .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form{
    width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
    position: relative;
    font-size: 40px;
    font-weight: 500;
    color: #333;
}
.forms .form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #109E28FF;
    border-radius: 50px;
}
.forms .signup-form  .title:before{
    width: 20px;
}
.forms .form-content .input-boxes{
    margin-top: 30px;
}
.forms .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}
.form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
    border-color: #109E28FF;
}
.form-content .input-box i{
    position: absolute;
    color: #109E28FF;
    font-size: 17px;
}
.forms .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.forms .form-content .text a{
    text-decoration: none;
    color: #000;
}
.forms .form-content .text a:hover{
    text-decoration: none;
    color:#109E28FF;

}
.forms .form-content .button{
    color: #fff;
    margin-top: 40px;
}
.forms .form-content .button input{
    color: #fff;
    background: #109E28FF;
    border-radius: 50px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
    background: #159e10;
}
.forms .form-content label{
    color: #109E28FF;
    cursor: pointer;
}
.forms .form-content label:hover{
    text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
    text-align: center;
    margin-top: 25px;
}
.rlcontainer #flip{
    display: none;
}
@media (max-width: 730px) {
    .rlcontainer .cover{
        display: none;
    }
    .form-content .login-form,
    .form-content .signup-form{
        width: 100%;
    }
    .form-content .signup-form{
        display: none;
    }
    .rlcontainer #flip:checked ~ .forms .signup-form{
        display: block;
    }
    .rlcontainer #flip:checked ~ .forms .login-form{
        display: none;
    }
}
.rlcontainer .cover .text .text-1 {
    font-size: 40px;
    font-weight: 600;
    text-shadow: 0px 0px 40px rgba(122, 234, 109, 0.64);
    color: #109e28;
    text-align: center;
    transform-style: preserve-3d ;
    transition: transform 0s;
    transform: translateY(-100px);


}
.rlcontainer .cover .text .text-2 {
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0px 0px 40px rgb(16, 158, 40);
    color: #109e28;
    text-align: center;
    transform-style: preserve-3d ;
    transition: transform 0s;
    transform: translateY(-100px);


}
.rlcontainer #flip:checked ~ .cover .text .text-1,
.rlcontainer #flip:checked ~ .cover .text .text-2 {
    transform: rotateY(180deg)  translateY(-100px);

}

